@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3842d6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background-color: #334155;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
